{% raw %}<div class="card mb-3" x-data="{ liked: false }">
  <div class="card-body">
    <div class="d-flex">
      <img src="{{ tweet.user.profile_picture.url }}" class="rounded-circle me-3" width="50" height="50">
      <div>
        <h5 class="card-title">{{ tweet.user.username }}</h5>
        <p class="card-text">{{ tweet.content }}</p>
        <button @click="liked = !liked" class="btn btn-sm btn-outline-danger">
          <span x-text="liked ? '❤️' : '🤍'"></span> {{ tweet.likes.count }}
        </button>
      </div>
    </div>
  </div>
</div>{% endraw %} 