{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/feed.css' %}">
{% endblock %}

{% block content %}
<div>
  <!-- Formulário de Tweet -->
  <div class="card tweet-form-card">
    <div class="card-body">
      <form hx-post="{% url 'tweets:create_tweet' %}" 
            hx-swap="afterbegin" 
            hx-target="#tweets"
            hx-trigger="submit">
        {% csrf_token %}
        <div id="div_id_content" class="mb-3">
          <textarea name="content" 
                    cols="40" 
                    rows="3" 
                    class="form-control textarea" 
                    placeholder="O que está acontecendo?" 
                    maxlength="280" 
                    required 
                    id="id_content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Tweet</button>
      </form>
    </div>
  </div>

  <!-- Lista de Tweets -->
  <div id="tweets">
    {% for tweet in tweets %}
      {% include "tweets/partials/tweet.html" %}
    {% endfor %}
  </div>
</div>
{% endblock %} 